.about-container{
    height: 70%;
    width: 80rem; 
    /* min-width: 40rem; */
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.about-container .text-container{
    height: 100%;
    width: 45%;
    background-color: rgb(235, 236, 236);
    text-align: center;
}

.about-container .text-container .title{
    margin-top: 1rem;
}

.about-container .text-container .text{
    margin: 0 auto;
    margin-top: 2rem;
    width: 80%;
    height: auto;
    text-align: justify;
}

.about-container .text-container .text > p{
    color: #000;
    /* line-height: 24px; */
}

#about-container-two{
    height: 80%;
}

.about-container .image-container{
    height: 100%;
    width: 45%;
    background-image: url("../Assets/2.jpg");
    background-attachment: fixed;
    background-size: cover;
}